{{include('pages/inc/header.html.twig')}}

    <a href="{{ absolute_url(asset('')) }}app_dev.php/post" class="btn btn-primary">Back</a>

    <h3>UPDATE POST</h3>

    {{ form_start(form) }}
    {{ form_widget(form) }}
{{ form_end(form) }}

{{include('pages/inc/footer.html.twig')}}
